<div class="container">
  {{#if hasContent}}
    <table class="table mt-3">
      <tbody>
        {{#each newsArr}}
          <tr>
            <td>
            <div class="row">
              <div class="title">
                <h1><a href="{{this.url}}"> {{this.title}} </a>
                </h1>{{this.publishedAt}}
              </div>
            </div>

            <div class="row">
              <div class="article-image">
                <img src="{{this.urlToImage}}" alt="Article picture" class="img-fluid">
              </div>
            </div>

            <div class="row">
              <div class="article-summary">
                <p>
                  {{this.description}}
                </p>
              </div>
            </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  {{else}}
    <h1>No results :(</h1>
  {{/if}}
</div>